In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/IMDB.Dataset.csv")
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [ ]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [ ]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [ ]:
df['review']=df['review'].str.lower()

In [ ]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [ ]:
import re
def remove_html_tags(text):
  pattern=re.compile('<.*?>')
  return pattern.sub(r'',text)

In [ ]:
text1= "<html><body><p>Movie 1 </p><p>Actor - Aamir Khan </p><p>Click here to <a href='http://google.com'>download</a></p></body></html>"

In [ ]:
remove_html_tags(text1)

'Movie 1 Actor - Aamir Khan Click here to download'

In [ ]:
df['review']=df['review'].apply(remove_html_tags)

In [ ]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [ ]:
text1="check out my notebook https://colab.research.google.com/drive/1q12UuUSAB5z49QCq08aQKy5xOEs2Bxr0#scrollTo=oIRIQ5GXUFm9"
text2="Google search here www.google.com"
text3="check out my notebook http://colab.research.google.com/drive/1q12UuUSAB5z49QCq08aQKy5xOEs2Bxr0#scrollTo=oIRIQ5GXUFm9"
text4="check out my notebook http://colab.research.google.com and google search here www.google.com"

In [ ]:
text4

'check out my notebook http://colab.research.google.com and google search here www.google.com'

In [ ]:
def remove_url(text):
  pattern=re.compile(r'https?://\S+|www\.\S+')
  return pattern.sub(r'',text)

In [ ]:
remove_url(text4)

'check out my notebook  and google search here '

In [ ]:
import string

In [ ]:
exc=string.punctuation
exc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def remove_punc(text):
  for char in exc:
    text=text.replace(char,'')
  return text

In [ ]:
text1= "string. With, Punctuation?"

In [ ]:
remove_punc(text1)

'string With Punctuation'

In [ ]:
import time
start=time.time()
remove_punc(text1)
time1=time.time()-start
print(time1*50000*20)

80.34706115722656

In [ ]:
def remove_punc1(text):
  return text.translate(str.maketrans('', '',exc))

In [ ]:
remove_punc1(text1)

'string With Punctuation'

In [ ]:
start=time.time()
remove_punc1(text1)
time2=time.time()-start
print(time2*50000*20)

80.108642578125

In [ ]:
df['review']=df['review'].apply(remove_punc1)

In [ ]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production the filming tech...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically theres a family where a little boy j...  negative
4  petter matteis love in the time of money is a ...  positive

In [ ]:
from textblob import TextBlob

In [ ]:
incorrect_text= 'ccertain conditionas duriing seveal ggenrations aree modifiied in hte saame maner'

In [ ]:
textblb=TextBlob(incorrect_text)

In [ ]:
textblb.correct().string

'certain conditions during several generations are modified in the same manner'

In [ ]:
sent="walk walked walks walking"

In [ ]:
from nltk.stem.porter import PorterStemmer

In [ ]:
ps=PorterStemmer()
def stem_words(text):
  return " ".join([ps.stem(word) for word in text.split()])

In [ ]:
stem_words(sent)

'walk walk walk walk'

In [ ]:
ps.stem("dancing")

'danc'

In [ ]:
#Lemmatization
from nltk.stem import WordNetLemmatizer
lem=WordNetLemmatizer()

In [ ]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Unzipping corpora/omw-1.4.zip.

True

In [ ]:
lem.lemmatize("dancing",pos='v')

'dance'

In [ ]:
#SPAM HAM Classifier

In [ ]:
df=pd.read_table("https://raw.githubusercontent.com/arib168/data/main/spam.tsv")
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will Ã¼ b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [ ]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [ ]:
x=df['message'].values
y=df['label'].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [ ]:
x_train.shape

(4179,)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(stop_words='english')

In [ ]:
x_train_vect=cv.fit_transform(x_train)  #fit, transform
x_test_vect=cv.transform(x_test)

In [ ]:
x_train_vect

<4179x7201 sparse matrix of type '<class 'numpy.int64'>'
	with 32607 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
nb=MultinomialNB()

In [ ]:
nb.fit(x_train_vect,y_train)

MultinomialNB()

In [ ]:
y_pred=nb.predict(x_test_vect)

In [ ]:
y_pred

array(['ham', 'ham', 'ham', ..., 'spam', 'ham', 'ham'], dtype='<U4')

In [ ]:
y_test

array(['ham', 'ham', 'ham', ..., 'spam', 'ham', 'ham'], dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.9877961234745154

In [ ]:
confusion_matrix(y_test,y_pred)

array([[1208,    5],
       [  12,  168]])

In [ ]:
#The below steps are to understand vectorization

In [ ]:
s=['Congrats. You have won a lottery of 1 million and you can get the lottery money by calling the lottery number',
  'Give your bank details to get your lottery amount in your bank account',
  'lottery for sure if your bank details are verIfied']

In [ ]:
op=cv.fit_transform(s).toarray()
op

array([[0, 0, 1, 1, 0, 3, 1, 1, 1, 0, 0, 1],
       [1, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0]])

In [ ]:
pd.DataFrame(op,columns=cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,account,bank,calling,congrats,details,lottery,million,money,number,sure,verified,won
0,0,0,1,1,0,3,1,1,1,0,0,1
1,1,2,0,0,1,1,0,0,0,0,0,0
2,0,1,0,0,1,1,0,0,0,1,1,0